{
  "extends": "eslint-config-egg",
  "rules": {
    "strict": "off",                      // 忽略全局模式
    "eqeqeq": "error",                    // 忽略全等判断
    "semi": [                             // 句末一律不用分号
      "error",
      "never"
    ],
    "no-console": "error",                // 禁止使用console
    "no-debugger": "error",               // 禁止使用debugger
    "quotes": [                           // 强制使用单引号
      "error",
      "single"
    ], 
    "space-before-function-paren": [      // 函数参数左间距应保持一致
      "error",
      "always"
    ], 
    "no-multiple-empty-lines": [          // 空行最多不能超过2行
      "error",
      {
        "max": 2
      }
    ] 
  }
}