{
  "extends": "eslint-config-egg",
  "rules": {
    /* 忽略全局模式 */
    "strict": "off",
    /* 忽略全等判断 */
    "eqeqeq": "error",
    /* 句末一律不用分号 */
    "semi": [
      "error",
      "never"
    ],
    /* 禁止使用console */
    // "no-console": "error",
    /* 禁止使用debugger */
    "no-debugger": "error",
  }
}